.container {
    display: inline-flex;
}

my-card {
    border: 0.5px solid grey;
    margin-bottom: 3px;
    padding: 10px;
}

my-column {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    padding: 5px;
}